{namespace SearchBox}

{template .render}

<div>
    <div class="form-inline">
        <div class="searchbox">
            <input type="text" data-onkeyup="performSearch" class="form-control" placeholder="Enter category to search... " id="search" autofocus>
            <button class="btn btn-primary" data-onclick="performSearch"><i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
  </div>
{/template}