{namespace assignment}

/**
 * This renders the component's whole content.
 */
{template .render}
	<div class="assignment">
		<div>
			{call ShoppingLayout.render}
			{/call}
		</div>
	</div>
{/template}
